.card-container {
  width: 200px;
  height: 150px;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(110, 64, 201, 0.2);
  background-color: #FFFFFF; /* 悬停时保持白色 */
}

@media (max-width: 768px) {
  .card-container {
    width: 160px;
    height: 120px;
    padding: 15px;
    margin: 10px;
  }
}